[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
black = "*"
pylint = "*"
pylint-django = "*"
drf-spectacular = "*"
sphinx = "*"

[dev-packages]

[requires]
python_version = "3.8"
